<a href="https://colab.research.google.com/github/mwithgod3952/TIL/blob/main/100_pandas_puzzles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color = 'crimeson'><i>- 100 pandas puzzles</i>

<font size=2>Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here are 100* short puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power.

<font size=2>Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating, cleaning), making use of the core DataFrame and Series objects.

<font size=2>Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy... don't go using pure Python or Cython!). Choosing the right methods and following best practices is the underlying goal.

<font size=2>The exercises are loosely divided in sections. Each section has a difficulty rating; these ratings are subjective, of course, but should be a seen as a rough guide as to how inventive the required solution is.

<font size=2>If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

<font size=2>- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)

<font size=2>- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)

<font size=2>- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)

<font size=2>- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

<font size=2>Enjoy the puzzles!

<font size=2>\* *the list of exercises is not yet complete! Pull requests or suggestions for additional exercises, corrections and improvements are welcomed.*

## Importing pandas

### Getting started and checking your pandas setup

<font size=2>Difficulty: *easy*

<font size=2>**1.** Import pandas under the alias `pd`.

In [11]:
import pandas as pd
import warnings; warnings.filterwarnings('ignore')

<font size=2>**2.** Print the version of pandas that has been imported.

In [7]:
print(pd.__version__)

2.0.3

<font size=2>**3.** Print out all the *version* information of the libraries that are required by the pandas library.

In [12]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit           : 0f437949513225922d851e9581723d82120684a6
python           : 3.10.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 6.1.85+
Version          : #1 SMP PREEMPT_DYNAMIC Sun Apr 28 14:29:16 UTC 2024
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 2.0.3
numpy            : 1.25.2
pytz             : 2023.4
dateutil         : 2.8.2
setuptools       : 67.7.2
pip              : 23.1.2
Cython           : 3.0.10
pytest           : 7.4.4
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.4
html5lib         : 1.1
pymysql          : None
psycopg2         : 2.9.9
jinja2           : 3.1.4
IPython          : 7.34.0
pandas_datareader: 0.10.0
bs4              : 4.12.3
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : 2023.6.0
gcsfs            : 2023.6.0
matplotlib       : 3.7.1
numba            : 0.58.1
numexpr          : 2.10.0
odfpy            : None
openpyxl         : 3.1.3
pandas_gbq       : 0.19.2
pyarrow          : 14.0.2
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.11.4
snappy           : None
sqlalchemy       : 2.0.30
tables           : 3.8.0
tabulate         : 0.9.0
xarray           : 2023.7.0
xlrd             : 2.0.1
zstandard        : None
tzdata           : 2024.1
qtpy             : None
pyqt5            : None
None

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

<font size=2>Difficulty: *easy*

<font size=2>Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
<font size=2>(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

<font size=2>**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [442]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)# (complete this line of code)

<font size=2>**5.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [443]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

<font size=2>**6.** Return the first 3 rows of the DataFrame `df`.

In [444]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

<font size=2>**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [445]:
print(df.loc[:, ['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

<font size=2>**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [446]:
df.loc[df.index[[3,4,8]], ['animal', 'age']]

# --- or ---

print(df.loc[['d','e','i'], ['animal', 'age']])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

<font size=2>**9.** Select only the rows where the number of visits is greater than 3.

In [447]:
print(df[df.visits >= 3])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

<font size=2>**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [448]:
print(df[df.age.isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

<font size=2>**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [449]:
print(df[(df.animal=='cat') & (df.age<3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

<font size=2>**12.** Select the rows the age is between 2 and 4 (inclusive).

In [450]:
print(df[df.age.between(2,4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

<font size=2>**13.** Change the age in row 'f' to 1.5.

In [451]:
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

<font size=2>**14.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

In [65]:
df.visits.sum()

19

<font size=2>**15.** Calculate the mean age for each different animal in `df`.

In [80]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

<font size=2>**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
# @title <font size = 2> V1</font>

df.loc['k'] = [5.5, 'dog', 'no', 2]
df = df.drop('k')

In [ ]:
# @title <font size = 2> V2</font>

df = pd.concat([df, df.sample(n=1)], axis=0); print(df)
df = df.iloc[:-1]; print(df)

In [ ]:
# @title <font size = 2> V3</font>

from itertools import compress
selectors = [True]*len(df)
selectors[np.where(df.index == 'g')[0][-1]] = False

df = df[selectors]

<font size=2>**17.** Count the number of each type of animal in `df`.

In [119]:
df['animal'].value_counts()

animal
cat      4
dog      4
snake    3
Name: count, dtype: int64

<font size=2>**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [125]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

<font size=2>**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [134]:
df['priority'] = df['priority'].map({'yes':True,'no':False})

In [128]:
df.loc[df['priority'] == 'yes', 'priority'], df.loc[df['priority'] == 'no', 'priority'] = True, False

<font size=2>**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [138]:
df['animal'] = df['animal'].replace('snake', 'python')

<font size=2>**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [140]:
df.groupby(['animal','visits'])['age'].mean()

animal  visits
cat     1         2.5
        3         2.5
dog     1         3.0
        2         6.0
        3         NaN
python  1         4.5
        2         0.5
Name: age, dtype: float64

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

<font size=2>Difficulty: *medium*

<font size=2>The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

<font size=2>How do you filter out rows which contain the same integer as the row immediately above?

<font size=2>You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

In [154]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(df.drop_duplicates(subset='A').A.values)

[1 2 3 4 5 6 7]

<font size=2>**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

<font size=2>how do you subtract the row mean from each element in the row?

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0) # df.sub()와 같은 경우, 식별자의 영향을 받음

<font size=2>**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
<font size=2>Which column of numbers has the smallest sum?  Return that column's label.

In [199]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum(axis=0).idxmin(), df.sum(axis=0).min()

('j', 1.9198822638454254)

<font size=2>**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [ ]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

len(df) - df.duplicated(keep='first').sum()

# --- or ---

len(df.drop_duplicates(keep='first'))

<center><font size=3><b><u>The next three puzzles are slightly harder.</u></b></center>




<font size=2>**26.** In the cell below, you have a DataFrame `df` that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values.

<font size=2>For each row of the DataFrame, find the *column* which contains the *third* NaN value.

<font size=2>You should return a Series of column labels: `e, c, d, h, d`

In [268]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

'''write a solution to the question here'''
# for i in range(len(df)): print(df.columns[np.where(df.isnull().iloc[i])[0][2]])

print(df.isnull().cumsum(axis=1), end='\n\n')
print((df.isnull().cumsum(axis=1) == 3).idxmax(axis=1))

   a  b  c  d  e  f  g  h  i  j
0  0  1  2  2  3  3  3  3  4  5
1  1  2  3  3  3  4  5  5  5  5
2  1  2  2  3  3  3  4  5  5  5
3  0  1  2  2  2  2  2  3  4  5
4  1  2  2  3  3  4  4  5  5  5

0    e
1    c
2    d
3    h
4    d
dtype: object

<font size=2>**27.** A DataFrame has a column of groups 'grps' and and column of integer values 'vals':

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
<font size=2>For each *group*, find the sum of the three greatest values. You should end up with the answer as follows:
```
grps
a    409
b    156
c    345
```

In [297]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# write a solution to the question here
df.groupby('grps')['vals'].apply(lambda x: x.nlargest(3).sum())

grps
a    409
b    156
c    345
Name: vals, dtype: int64

<font size=2>**28.** The DataFrame `df` constructed below has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive).

<font size=2>For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

<font size=2>The answer should be a Series as follows:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

# write a solution to the question here
df.groupby(pd.cut(df['A'], np.arange(0,101,10)))['B'].sum().values # pd.cut()은 '초과' '이하'로 범위를 생성함.

# --- or ---

grp = list(zip(*(range(0,100,10), range(10, 101,10))))
tuple(map(lambda x: df[(x[0] < df['A']) & (df['A'] <= x[1])].B.sum(), grp))

## DataFrames: harder problems

### These might require a bit of thinking outside the box...

<font size=2>...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

<font size=2>Difficulty: *hard*

<font size=2>**29.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
<font size=2>For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

<font size=2>Make this a new column 'Y'.

In [386]:
"""
    * np.r_
        - np.r_는 슬라이스 표기법을 사용하여 배열을 쉽게 결합하거나 차원을 변경할 수 있는 단축 함수입니다.
        - 주로 배열을 연결(concatenate)하거나 차원을 변경할 때 사용되며, 특히 1차원 배열을 빠르게 결합할 때 유용합니다.
        - np.r_는 실제 함수가 아니라 객체이며, 대괄호([])를 사용합니다
"""

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

izero = np.r_[-1, (df == 0).values.nonzero()[0]]  # indices of zeros
idx = np.arange(len(df))
y = df['X'] != 0
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [84]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})


x = (df.X != 0).cumsum()
y = x != x.shift() # 배열의 값이 0인 경우 False.
'''
    y != y.shift() # 배열의 값이 0일 경우와 그 다음 값이 True / 더불어, shift 된 맨 처음 값이 True
    y != y.shift().cumsum()
                    # 1
                      1
                      2
                      3
                      3
                      3
                      3
                      4
                      5
                      5
'''
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

<font size=2>**30.** Consider the DataFrame constructed below which contains rows and columns of numerical data.

<font size=2>Create a list of the column-row index locations of the 3 largest values in this DataFrame. In this case, the answer should be:
```
[(5, 7), (6, 4), (2, 5)]
```

In [429]:
"""
    * unstack :: (column, row)
"""

df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))
df.unstack().sort_values()[-3:].index.tolist()

[(5, 7), (6, 4), (2, 5)]

<font size=2>**31.** You are given the DataFrame below with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals'.

```python
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15),
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})
```

<font size=2>Create a new column 'patched_values' which contains the same values as the 'vals' any negative values in 'vals' with the group mean:

```
    vals grps  patched_vals
0    -12    A          13.6
1     -7    B          28.0
2    -14    A          13.6
3      4    A           4.0
4     -7    A          13.6
5     28    B          28.0
6     -2    A          13.6
7     -1    A          13.6
8      8    A           8.0
9     -2    B          28.0
10    28    A          28.0
11    12    A          12.0
12    16    A          16.0
13   -24    A          13.6
14   -12    A          13.6
```

In [189]:
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15),
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})

def replace(grp):
    mask = grp < 0
    grp[mask] = grp[~mask].mean()
    return grp

df.groupby('grps')['vals'].transform(replace)

0     13.6
1     28.0
2     13.6
3      4.0
4     13.6
5     28.0
6     13.6
7     13.6
8      8.0
9     28.0
10    28.0
11    12.0
12    16.0
13    13.6
14    13.6
Name: vals, dtype: float64

In [184]:
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15),
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})


df['patched_values'], dic = df['vals'], dict(tuple(df.groupby(['grps', df['vals']>0])))
for k, v in dic:
    if not v: df.loc[dic[(k, v)].index,'patched_values'] = dic[(k, True)].vals.mean()

print(df.iloc[:,-1])

0     13.6
1     28.0
2     13.6
3      4.0
4     13.6
5     28.0
6     13.6
7     13.6
8      8.0
9     28.0
10    28.0
11    12.0
12    16.0
13    13.6
14    13.6
Name: patched_values, dtype: float64

<font size=2>**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
<font size=2>The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
<font size=2>E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

In [224]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                   'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})

g1 = df.groupby(['group'])['value']
g2 = df.fillna(0).groupby(['group'])['value']

s = g2.rolling(window=3, min_periods=1).sum() / g1.rolling(window=3, min_periods=1).count()
s.reset_index(level=0, drop=True).sort_index()

0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
Name: value, dtype: float64

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

<font size=2>Difficulty: *easy/medium*

<font size=2>pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

<font size=2>**33.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

In [228]:
ti = pd.date_range('2015-01-01','2015-12-21', freq='B')
s = pd.Series(np.random.rand(len(ti)), index=ti)
s

2015-01-01    0.105654
2015-01-02    0.447140
2015-01-05    0.553643
2015-01-06    0.047638
2015-01-07    0.374676
                ...
2015-12-15    0.918865
2015-12-16    0.296622
2015-12-17    0.220614
2015-12-18    0.468877
2015-12-21    0.657075
Freq: B, Length: 253, dtype: float64

<font size=2>**34.** Find the sum of the values in `s` for every Wednesday.

In [234]:
s[s.index.weekday == 2].sum() # 수

23.421695537548885

<font size=2>**35.** For each calendar month in `s`, find the mean of values.

In [236]:
s.resample('M').mean()

2015-01-31    0.473895
2015-02-28    0.563322
2015-03-31    0.524066
2015-04-30    0.530435
2015-05-31    0.490987
2015-06-30    0.508599
2015-07-31    0.433442
2015-08-31    0.486567
2015-09-30    0.481894
2015-10-31    0.490479
2015-11-30    0.583549
2015-12-31    0.524421
Freq: M, dtype: float64

<font size=2>**36.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

In [241]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-22
2015-05-31   2015-02-16
2015-09-30   2015-08-11
2016-01-31   2015-11-16
Freq: 4M, dtype: datetime64[ns]

<font size=2>**37.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

In [242]:
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17',
               '2016-01-21', '2016-02-18', '2016-03-17', '2016-04-21',
               '2016-05-19', '2016-06-16', '2016-07-21', '2016-08-18',
               '2016-09-15', '2016-10-20', '2016-11-17', '2016-12-15'],
              dtype='datetime64[ns]', freq='WOM-3THU')

## Cleaning Data

### Making a DataFrame easier to work with

<font size=2>Difficulty: *easy/medium*

<font size=2>It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

<font size=2>Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})
```
<font size=2>Formatted, it looks like this:

```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```


<font size=2>(It's some flight data I made up; it's not meant to be accurate in any way.)

<font size=2>**38.** Some values in the the **FlightNumber** column are missing (they are `NaN`). These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Modify `df` to fill in these missing numbers and make the column an integer column (instead of a float column).

<font size=2>**39.** The **From\_To** column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame called 'temp' with the correct values. Assign the correct column names 'From' and 'To' to this temporary DataFrame.

<font size=2>**40.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame 'temp'. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

<font size=2>**41.** Delete the **From_To** column from `df` and attach the temporary DataFrame 'temp' from the previous questions.

<font size=2>**42**. In the **Airline** column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

<font size=2>**43**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

<font size=2>Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

<font size=2>The DataFrame should look much better now.
```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

<font size=2>Difficulty: *medium*

<font size=2>Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

<font size=2>The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

<font size=2>To warm up, we'll look make a Series with two index levels.

<font size=2>**44**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

<font size=2>**45.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

<font size=2>**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

<font size=2>**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

<font size=2>**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

<font size=2>**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

<font size=2>**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

## Minesweeper

### Generate the numbers for safe squares in a Minesweeper grid

<font size=2>Difficulty: *medium* to *hard*

<font size=2>If you've ever used an older version of Windows, there's a good chance you've played with Minesweeper:

<font size=2>- https://en.wikipedia.org/wiki/Minesweeper_(video_game)


<font size=2>If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

<font size=2>In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

<font size=2>**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
<font size=2>To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

<font size=2>**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

<font size=2>**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid.

<font size=2>(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

<font size=2>**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

<font size=2>**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

## Plotting

### Visualize trends and patterns in data

<font size=2>Difficulty: *medium*

<font size=2>To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

<font size=2>**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

<font size=2>matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

<font size=2>For starters, make a scatter plot of this random data, but use black X's instead of the default markers.

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

<font size=2>Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) if you get stuck!

<font size=2>**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

<font size=2>(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

<font size=2>*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

<font size=2>**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

<font size=2>Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

<font size=2>Now we're finally ready to create a candlestick chart, which is a very common tool used to analyze stock price data.  A candlestick chart shows the opening, closing, highest, and lowest price for a stock during a time window.  The color of the "candle" (the thick part of the bar) is green if the stock closed above its opening price, or red if below.

<center><img src = "//raw.githubusercontent.com/ajcr/100-pandas-puzzles/457b15f1efc127c6df5171bae34332838a9ffcb0//img/candle.jpg" width=400></cnnter>

<font size=2>This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

<font size=2>Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

<font size=2>The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))


    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

<font size=2>**59.** Generate a day's worth of random stock data, and aggregate / reformat it so that it has hourly summaries of the opening, highest, lowest, and closing prices

<font size=2>**60.** Now that you have your properly-formatted data, try to plot it yourself as a candlestick chart.  Use the ```plot_candlestick(df)``` function above, or matplotlib's [```plot``` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) if you get stuck.

*More exercises to follow soon...*